<h1>Projeto livros</h1>
<h2>cadastro</h2>

<form action="/books/insert" method="post">
    <input type="text" name="nome" placeholder="nome">
    <input type="text" name="pag" placeholder="qtd paginas">
    <button type="submit" value="Cadastrar">Enviar</button>
</form>

<br>
<button onclick="window.location.href='/books'">Ver cadastradas</button>